.container {
  display: grid;
  grid-template-columns: repeat(2, 10fr);
  grid-template-rows: repeat(1, 10fr);
  font-size: xx-large;
}

.container > * {
  margin: auto;
}
.link {
  font-size: 3rem;
  color: rgba(26, 89, 145, 0.8);
}

@media screen and (max-width: 500px) {
  .container {
    width: 80%;
    margin: 3rem auto;
  }
}
